
.card-container-profile {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 40vh;
  background: #FFFDFD;
}

.survey-text-description {
  margin-bottom: 5%;
}

.profile-header-container {
  position: relative;
  height: 300px;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}
.profile-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-align: left;
}

.profile-small-title {
  margin-top: -40px;
  font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 20px;
    text-align: left;
  }

.profile-question {
  margin-top: -20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-align: left;
  font-size: 28px;
}

.profile-button-contact {
  margin-top: -20px !important;
  font-size: 20px !important;
  width: 130px !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  position: absolute;
  bottom: 80px;
  left: 0px;

}

.profile-header-container {
    // height: 50%;
    display: flex;
    flex-direction: column;
    text-align: right;
    width: 50%;
    }
.card-container-contact {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
  }
.user-details {
  font-family: 'Montserrat', sans-serif;
    text-align: right;
    // height: 100%;
    width: 50%;
    // margin-top: 28%;
    margin-right: 3%;
}
.white {
 font-size: 16px;
}

.profile-button-white {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 28px;
    text-align: center !important;
    border: #FFFDFD 2px solid;
    border-radius: 50px;
    color: #566E95;
    text-decoration: none;
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 0.4s;
    background-color: white;
    margin: auto;
    margin-top: 5%;
}

.profile-button-white:hover {
    color: rgba(255, 255, 255, 1);
    background-color: transparent;
    text-decoration: none;
    }





    @import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
    @import url(http://weloveiconfonts.com/api/?family=entypo);

    /* entypo */
    [class*="entypo-"]:before {
      font-family: 'entypo', sans-serif;
    }

    $primary-text-color: #000;
    $secondary-text-color: #A1A1A4;
    $theme-color: red;

    * {
      box-sizing: border-box;
    }

    // body {
    //   background: #f5f5f5;
    //   max-width: 1200px;
    //   margin: 0 auto;
    //   padding: 10px;

    //   font-family: 'Lato', sans-serif;
    //   text-shadow: 0 0 1px rgba(255,255,255,0.004);
    //   font-size: 100%;
    //   font-weight: 400;
    // }

    .toggler {
      color: $secondary-text-color;
      font-size: 1.25em;
      margin-left: 8px;
      text-align: center;
      cursor: pointer;

      &.active {
        color: $primary-text-color;
      }
    }


    .surveys {
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: center;
      background: linear-gradient(270.7deg, rgba(255, 195, 113, 0.8) 0.46%, rgba(255, 95, 109, 0.8) 99.66%);
    }

    .survey-text-descrption {
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 42px;
        text-align: left;
        color: #4F4F4F;
        width: 100%;
    }

    %card-style {
      display: block;
      margin-top: 10px;
      padding: 20px;
      border-radius: 2px;

      background: white;
      box-shadow: 0 2px 1px rgba(170,170,170,0.25);
    }

    .survey-item {
      position: relative;
      @extend %card-style;
      transition: 0.5s;
    }

    .survey-item:hover {
      transform: scale(1.1);

    }

    .survey-name {
      font-weight: 400;
    }

    .list {
      .survey-item {
        position: relative;
        padding: 0;

        font-size: 14px;
        line-height: 40px;

        .pull-right {
          position: absolute;
          right: 0;
          top: 0;
        }

        @media screen and (max-width: 800px) {
          .stage:not(.active) {
            display: none;
          }
        }

        @media screen and (max-width: 700px) {
          .survey-progress-bg {
            display: none;
          }
        }

        @media screen and (max-width: 600px) {
          .pull-right {
            position: static;
            line-height: 20px;
            padding-bottom: 10px;
          }
        }
      }

      .survey-country,
      .survey-progress,
      .survey-completes,
      .survey-end-date {
        color: $secondary-text-color;
      }

      .survey-country,
      .survey-completes,
      .survey-end-date,
      .survey-name,
      .survey-stage {
        margin: 0 10px;
      }

      .survey-country {
        margin-right: 0;
      }

      .survey-end-date,
      .survey-completes,
      .survey-country,
      .survey-name {
        vertical-align: middle;
      }

      .survey-end-date {
        display: inline-block;
        width: 100px;
        white-space: nowrap;

        overflow: hidden;
      }
    }

    .survey-stage .stage {
      display: inline-block;
      vertical-align: middle;

      width: 16px;
      height: 16px;
      overflow: hidden;
      border-radius: 50%;
      padding: 0;
      margin: 0 2px;

      background: #f2f2f2;
      text-indent: -9999px;
      color: transparent;
      line-height: 16px;

      &.active {
        background: $secondary-text-color;
      }
    }

    .orange-circle-mini {
      position: absolute;
      margin-right: 20px;
      height: 150px;
      width: 150px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: linear-gradient(270.7deg, rgba(255, 195, 113, 0.8) 0.46%, rgba(255, 95, 109, 0.8) 99.66%);
      opacity: 0.9;
      border-radius: 50%;
      top: 65px;
      right: 10px;
    }

    .style-clock-mini {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 135px;
    width: 135px;
    color: white;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    font-family: 'montserrat', sans-serif;
    font-weight: 200;
    font-size: 28px;
    color: #4F4F4F;
    position: absolute;
    z-index: 999;
    margin: auto;
    }

    #subdomains-found-mini {
    font-family: 'montserrat', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #4F4F4F;
    }

    .list {
      .list-only {
        display: auto;
      }
      .grid-only {
        display: none !important;
      }
    }

    .grid {
      .grid-only {
        display: auto;
      }
      .list-only {
        display: none !important;
      }
    }

    .grid {
      .survey-item {
        position: relative;
        display: inline-block;
        vertical-align: top;
        height: 280px;
        width: 400px;
        margin: 4%;
        text-align: left;
        border-radius: 4px;

        @media screen and (max-width: 600px) {
          display: block;
          width: auto;
          height: 150px;
        }
      }

      .survey-name {
        display: block;
        max-width: 80%;

        font-size: 20px;
        line-height: 20px;
        margin-bottom: 15%;
        font-family: 'Montserrat', sans-serif;
        color: #4F4F4F;

        @media screen and (max-width: 600px) {
            margin-bottom: 2%;
            font-size: 16px;
          }
      }

      .survey-country {
        font-size: 14px;
        line-height: 30px;
        text-transform: uppercase;

        @media screen and (max-width: 600px) {
          font-size: 12px;
          line-height: 10px;
        }
      }

      .survey-country,
      .survey-end-date {
        color: $secondary-text-color;
      }

      .survey-end-date {
        &:before {
          content: 'Ends\00a0';
        }

        &.ended:before {
          content: 'Ended\00a0';
        }
      }

      .survey-progress {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        padding: 20px;
        border-top: 1px solid #eee;
        font-size: 13px;
      }

      .survey-progress-bg {
        width: 45%;
        display: block;

        @media screen and (max-width: 200px) {
          display: none;
        }
      }

      .survey-progress-labels {
        position: absolute;
        right: 20px;
        top: 0;
        line-height: 40px;
        animation: none;

        @media screen and (max-width: 200px) {
          right: auto;
          left: 10px;
        }
      }

      .survey-progress-label {
        line-height: 21px;
        font-size: 16px;
        font-weight: 400;
      }

      .survey-completes {
        line-height: 21px;
        font-size: 16px;
        vertical-align: middle;
        font-family: 'Montserrat', sans-serif;
        color: #4F4F4F;
      }

      .survey-stage {
        position: absolute;
        top: 20px;
        right: 20px;

        .stage {
          display: none;
        }

        .active {
          display: block;
        }
      }

      .survey-end-date {
        font-size: 12px;
        line-height: 20px;
      }
    }

    .survey-progress-label {
      vertical-align: middle;
      margin: 0 10px;
      color: $theme-color;
    }

    .survey-progress-bg {
      display: inline-block;
      vertical-align: middle;
      position: relative;
      width: 100px;
      height: 4px;
      border-radius: 2px;
      overflow: hidden;
      background: #eee;
    }

    .survey-progress-fg {
      position: absolute;
      top: 0;
      bottom: 0;
      height: 100%;
      left: 0;
      margin: 0;
      background: $theme-color;
    }

    .dashboard-container {
      position: relative;
    }
