<% set_meta_tags title: 'Cyber-security checker',
    description: 'Detect your core cyber security risks including dangerous ports and attack surface with a simple website freely available to all.' %>

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UI components sprint</title>
   

<!-- This is a really important link to myown css file used -->
  


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- Leave those next 4 lines if you care about users using IE8 -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
     <!-- -->
     <!-- -->
     <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  </head>
  <body>

    <%= render 'shared/navbar-blog.html.erb' %>

    <div class="container">
      <h1 class="text-center">LATEST ARTICLES</h1>
        <div class="title-centre">
            <ul>
                <% @articles.each do |article| %>
                <li>
                <%= markdown article.title %>
                <%= link_to 'read this article...', article_path(article) %>
                </li> 
                <% end %>
            </ul>

        </div>    


    </div>
    <!-- Including Bootstrap JS (with its jQuery dependency) so that dynamic components work -->
    <!-- First line loads jquery -->
  </body>
</html>

<script>
  const form = document.querySelector('#search');
  const gif = document.querySelector("#loading-symbol");
  form.addEventListener('submit', function(event) {
      gif.hidden = false;
  });
</script>