
    <div class="footer">
        <div class="footer-contents">
          <ul class="footer-links">
            <li><a href="#">About</a></li>
            <li><a href="#">Carrier</a></li>
            <li><a href="#">Terms</a></li>
            <li><a href="#">Press</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
          <div class="footer-sns">
            <div class="networks">
              <p>follow us:</p>
            </div>
            <div class="networks">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <p><a href="#" id="description">Facebok</a></p>
            </div>
            <div class="networks">
              <a href="#"><i class="fab fa-instagram"></i></a>
              <p><a href="#" id="description">Instagram</a></p>
            </div>
            <div class="networks">
              <a href="#"><i class="fab fa-medium-m" id="networks"></i></a>
              <p><a href="#" id="description">Medium</a></p>
            </div>
            <div class="networks">
              <a href="#"><i class="fab fa-twitter" id="networks"></i></a>
              <p><a href="#" id="description">Twitter</a></p>
            </div>
          </div>
        </div>
        <p class="copyrights">Copyright © 2018 Ceziam, Inc.</p>
     </div>
