
    <div class="footer">
        <div class="footer-contents">
        <div class="row"> 
        <div class="col-md-8 col-md-offset-2 col-sm-12">
          <ul class="footer-links">
              <li><a href="/about" >About</a></li>
              <li><a href="/glossary">Glossary</a></li>
              <li><a href="https://blog.usejournal.com/cyber-security-why-you-need-it-7adf0d07b96" target="_blank">Press</a></li>
              <li><a href="/privacy">Privacy Policy</a></li>
              <li><a href="mailto:info@ceziam.com?Subject=Enquiry">Contact</a></li>  
              <li>
              </li>
          </ul>
          </div>
          </div>

          <div class="row"> 
           <div class="col-md-8 col-md-offset-2 col-sm-12">
          <div class="footer-sns">
            <div class="networks">
              <p>follow us:</p>
            </div>
            <div class="networks">
              <a href="https://www.facebook.com/Ceziam-169658940566330/" target="_blank"><i class="fab fa-facebook-f"></i></a>
              <p><a href="https://www.facebook.com/Ceziam-169658940566330/" target="_blank" id="description">Facebok</a></p>
            </div>
            <div class="networks">
              <a href="https://www.instagram.com/ceziam_/" target="_blank"><i class="fab fa-instagram"></i></a>
              <p><a href="https://www.instagram.com/ceziam_/" target="_blank" id="description">Instagram</a></p>
            </div>
            <div class="networks">
              <a href="https://www.linkedin.com/company/ceziam/" target="_blank"><i class="fab fa-linkedin" id="networks"></i></a>
              <p><a href="https://www.linkedin.com/company/ceziam/" target="_blank" id="description">LinkedIn</a></p>
            </div>
            <div class="networks">
              <a href="https://twitter.com/Ceziam1" target="_blank"><i class="fab fa-twitter" id="networks"></i></a>
              <p><a href="https://twitter.com/Ceziam1" target="_blank" id="description">Twitter</a></p>
            </div>
          </div>
        </div>
        </div>
        <p class="copyrights">Copyright © 2018 Ceziam, Inc.</p>
     </div>
  </div>