
    <div class="footer">
        <div class="footer-contents">
          <ul class="footer-links">
            <li><a href="/pages/about#about-container">About</a></li>
            <li><a href="#">Carrier</a></li>
            <li><a href="#">Terms</a></li>
            <li><a href="#">Press</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
          <div class="footer-sns">
            <div class="networks">
              <p>follow us:</p>
            </div>
            <div class="networks">
              <a href="https://www.facebook.com/Ceziam-169658940566330/"><i class="fab fa-facebook-f"></i></a>
              <p><a href="https://www.facebook.com/Ceziam-169658940566330/" id="description">Facebok</a></p>
            </div>
            <div class="networks">
              <a href="https://www.instagram.com/ceziam_/"><i class="fab fa-instagram"></i></a>
              <p><a href="https://www.instagram.com/ceziam_/" id="description">Instagram</a></p>
            </div>
            <div class="networks">
              <a href="https://www.linkedin.com/company/ceziam/"><i class="fab fa-linkedin" id="networks"></i></a>
              <p><a href="https://www.linkedin.com/company/ceziam/" id="description">LinkedIn</a></p>
            </div>
            <div class="networks">
              <a href="https://twitter.com/Ceziam1"><i class="fab fa-twitter" id="networks"></i></a>
              <p><a href="https://twitter.com/Ceziam1" id="description">Twitter</a></p>
            </div>
          </div>
        </div>
        <p class="copyrights">Copyright © 2018 Ceziam, Inc.</p>
     </div>
