<% if user_signed_in?  %>
  <div class="header">
      <div class="buttons-header">
        <div class="dropdown">
          <div class="drop-down">
            <button class="drop-down black-burguer pulse"></button>
            <div class="dropdown-content">
            <a href="/users/sign_out">Log Out</a>
            <a href="#">Profile</a>
            <a href="#">My Checks</a> 
            <a href="/pages/glossary">Glossary</a>
          </div>
        </div>
      </div>
    </div>
      <div class="title"><a href="/" class="thin-buttons grey main">CEZIAM</a></div>
    </div>
  <% else %>
    <div class="header">
        <div class="buttons-header">
          <div class="dropdown">
            <div class="drop-down">
              <button class="drop-down black-burguer pulse"></button>
              <div class="dropdown-content without-user">
              <a href="/users/sign_in">Log In</a>
              <a href="/pages/glossary">Glossary</a>
            </div>
          </div>
        </div>
      </div>
        <div class="title"><a href="/" class="thin-buttons main">CEZIAM</a></div>
      </div>
  <% end %>
