
<div class="banner-green">
  <div class="header-description">
    <p class="header-title">Welcome to Ceziam</p>
    <p class="page-description"> Check your websites presence and security here.</p>
    <a href="" id="button-white">Check</a>
  </div>
  <div class="logo-banner" style="background-image: url(<%= image_path('logo-ceziam.png') %>);">
  </div>
  <div class="white-vector" style="background-image: url(<%= image_path('white-vector.png') %>)";>
</div>
</div>
