.container-blog{	
    // width: 900px;	
    margin: 90px auto;	
    margin-bottom: 81px;
    width:100%;	
  }	

.container-blog-medium{	
        max-width: 850px;
        padding: 100px;
}	

.background-white{	
    background-color: white;
}

.text-left {		
width: 900px;
} 

.articles-title {		
color: #D24949;	
font-size: 14px;
margin: 30px;
font-family: "georgia", serif;
}

.title-blog{	
font-family: "georgia", serif;
font-size: 22px;
font-family: "georgia", serif;
line-height: 1.25;
margin-top: 25px;
}	

.readmore-blog{
    padding: 5px;
}

.newarticle-blog{
    margin-top: 20px;
}

.title-blog-main{	
    font-size: 32px;
    font-family: "Open Sans", "Helvetica", "sans-serif";
    line-height: 1.25;
    
    }	

.description-blog{
font-family: "georgia", serif;
font-size: 50px;
line-height: 1.6; 
}

.red{
font-family: "georgia", serif;
font-size: 50px;
line-height: 1.6;
    color: #D24949;	
}

.timestamp-blog{
    font-family: "georgia", serif;
    font-size: 10px;
    }

.comments-blog {
    font-weight: bold;
    font-size: 18px;
    }

@media (max-width: 767.98px) {   
.container-blog-medium{	
    max-width:320px;
    padding: 14%;
    float: none;
    width: 400px
    }
.title-blog-main{	
    max-width:320px;
    padding: 0px;
    
    font-size: 20px;
    }

.black-burguer{	
    max-width:320px;
    padding: 0px;
    float: none;
    position: relative;

    }

.dropdown .dropdown-blog {
    width: 100%;
    font-size: 16px;
    }
    .dropdown-blog {
        min-width: 315px;
        }
    .dropdown-content {
    min-width: 315px;
    }
}