.button-white {
font-family: 'Montserrat', sans-serif;
font-weight: 200;
font-size: 28px;
text-align: center;
border: #FFFDFD 2px solid;
border-radius: 50px;
color: #566E95;
text-decoration: none;
width: 150px;
padding-top: 10px;
padding-bottom: 10px;
transition: 0.4s;
background-color: rgba(255, 255, 255, 1);
}


.button-white:hover {
  color: rgba(255, 255, 255, 1);
    background-color: transparent;
  }

.alternate-log-in {
  color: #87617D;
  margin-bottom: 30px;
  width: 150px;
  padding-top: 5px;
  padding-bottom: 5px;
}


#button-purple{
  z-index: 99999;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 28px;
  text-align: center;
  border: #FFFDFD 2px solid;
  border-radius: 50px;
  color: #FFFDFD !important;
  text-decoration: none !important;
  width: 250px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 0.4s;
  background-color: #985F6A;
}


#button-purple:hover {
  color: #985F6A !important;
  background-color: transparent !important;
  border-color: #985F6A;
  }

.thin-buttons {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 200;
  transition: 0.5s;
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
}


.thin-buttons:hover{
  opacity: 0.6 !important;
  color: #FFFFFF;
  text-decoration: none;
}

.thin-buttons:focus {
  color: #FFFFFF;
  text-decoration: none;
}

.thin-buttons-grey {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: #4F4F4F;
  font-size: 20px;
  font-weight: 200;
  transition: 0.5s;
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
}

.thin-buttons-grey:hover{
  opacity: 0.6 !important;
  color: #4F4F4F;
  text-decoration: none;
}

.thin-buttons-grey:focus {
  color: #4F4F4F;
  text-decoration: none;
}

.main {
  font-family: 'Varela Round', sans-serif;
  font-size: 28px;
  color: #FFFDFD;
}

.scroll {
  text-align: left;
  padding-top: 20px;
  padding-left: 18px;
  width: 150px;
}
