.button-white {
font-family: 'Montserrat', sans-serif;
font-weight: 200;
font-size: 28px;
text-align: center;
border: #FFFDFD 2px solid;
border-radius: 50px;
color: #566E95;
text-decoration: none;
width: 150px;
padding-top: 10px;
padding-bottom: 10px;
transition: 0.4s;
background-color: rgba(255, 255, 255, 1);
}


.button-white:hover {
  color: rgba(255, 255, 255, 1);
    background-color: transparent;
  }
