.signup{
    font-family: 'Source Sans Pro', sans-serif;
    font-size:25px;
    text-align:center;
    color:rgb(231, 227, 227);
  }

  .modal {
    position: fixed;   
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
 }

 #search-form {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
 }