.header {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-arround;
  width: 100%;
  height: 10%;
  top: 10px;
  left: 0px;
}

.title {
  max-width: 65%;
  text-align: left;
  padding-left: 8%;
}

#title:hover {
  opacity: 0.6;
}
.drop-down {
  background-image: url('drop-down.png');
  background-color: transparent;
  border: none;
  position: relative;
  display: inline-block;
  transition: 0.4s;
  height: 30px;
  width: 50px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}

.dropdown {
  transition: 0.2s 0 ease;
}

.dropdown:hover .dropdown-content {
  color: rgba(104, 166, 117, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition-delay: 1s !important;
}

.buttons-header {
  width: 35%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 30px;
}


.black-burguer {
  background-image: url('drop-down2.png');
  transition: 0.4s;
}

.dropdown-content {
  text-align: center;
  width: 500px;
  height: 50px;
  display: none;
  position: absolute;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 20px;
  min-width: 200px;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 4px;
  transition: 0.4s;
}

.without-user {
  max-width: 0px;
}

.dropdown-content a {
    color: #68A675;
    padding: 10px 12px;
    text-decoration: none;
    opacity: 1;
}

.dropdown-content a:hover {
  background-color: white;
  color: #C04C5D;
  transition: 0.4s;
}


// .dropdown:hover .dropdown-content {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   opacity: 1 !important;
// }

// animation for button/

@keyframes pulse_animation {
    0% { transform: scale(1); }
    30% { transform: scale(1); }
    40% { transform: scale(1.28); }
    50% { transform: scale(1); }
    60% { transform: scale(1); }
    70% { transform: scale(1.25); }
    80% { transform: scale(1); }
    100% { transform: scale(1); }
}

.pulse {
    animation-name: pulse_animation;
    animation-duration: 3000ms;
    transform-origin:70% 70%;
    animation-iteration-count: 5;
    animation-timing-function: linear;
}
