

.list1 {
    color: #C04C5D;
  }


  div {

  }
  
  h2 {
    font: 400 40px/1.5 Helvetica, Verdana, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  ul {
    color: #4F4F4F !important;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
  
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #4F4F4F;
    font-weight: 200;
    font-size: 20px;
    border-bottom: 1px solid #ccc;
  }
  
  li:last-child {
    border: none;
  }
  
  li a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #4F4F4F;
    font-weight: 200;
    font-size: 20px;
    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
    display: block;
    width: 200px;
  }
  
  li a:hover {
    // font-size: 30px;
    // background: #f6f6f6;
    text-decoration: none;
  }
  