.data-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50%;
    width: 97%;
    margin-bottom: 2%;
  }

  #ip {
    font-size: 36px;
  }

#check-list {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 42px;
  color: #4F4F4F;
}

#check-click {
  font-weight: 200;
  font-size: 20px;
  color: #4F4F4F;
}

  #or-statement {
    font-family: 'montserrat', sans-serif;
    font-weight: 200;
    font-size: 26px;
    margin-left: 50px;
    margin-right:50px;
    padding-top: 8px;
  }

  .result-graph {
    position: absolute;
    color: #4F4F4F !important;
    padding-left: 0px !important;
    padding-top: 0px !important;
    left: 20px;
  }

  .result-graph-attack {
    position: absolute;
    color: #4F4F4F !important;
    padding-left: 0px !important;
    padding-top: 0px !important;
    left: 48px;
  }

  .buttons-full-report-table {
    margin-top: 40px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .orange-circle {
    background: linear-gradient(to right, #fc4a1a, #f7b733) !important;
  }

  .blue-circle {
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e) !important;
    margin-right: 5px !important;
  }

  .margin-graph {
    margin-left: 10px;
  }

  #scanned-by {
    font-family: 'montserrat', sans-serif;
    font-weight: 200;
    font-size: 26px;
  }

  #subdomains-found {
    width: 200px;
  }

.style-clock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 275px;
  width: 275px;
  color: white;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  font-family: 'montserrat', sans-serif;
  font-weight: 200;
  font-size: 60px;
  color: #4F4F4F;
  position: absolute;
  z-index: 999;
  margin: auto;
}

.general-info-container {
  width: 100%;
  height: 120vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.scan-duration {
  position: relative;
  font-family: 'montserrat', sans-serif;
    font-weight: 300;
    font-size: 28px;
    color: #4F4F4F;

}

.title-full-report {
  width: 40%;
  height: 220px;
  text-align: center;
}

#full-report-header-description {
  margin-left: 30px;
}

#result-full-report {
  font-family: 'montserrat', sans-serif;
  font-weight: 400;
  font-size: 50px;
  color: #4F4F4F;
}

  .vuln {
    text-align: center;
    margin-top: 0px !important;
  }

  .full-report-page {
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: center;
    height: 100%;
  }

  .progress {
    width: 100%;
    height: 100%;
    background-color: transparent;
    box-shadow: none;
    border: none;
    margin-bottom: 0px;
  }

  .risk-factor {
    position: relative;
    text-align: center;
    font-family: 'montserrat', sans-serif;
    font-weight: 200;
    font-size: 60px;
    color: #4F4F4F;
    position: absolute;
    z-index: 999;
    margin: auto;
  }

  .circle-description-container {
    font-family: 'montserrat', sans-serif;
    font-weight: 200;
    font-size: 18px;
    color: #4F4F4F;
    width: 100%;
    height: 30%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: -50px;
    margin-left: 15px;
  }

  #graph-description {
    margin-right: 25px;
    text-align: justify;
    width: 22.8%;
    height: 120px;
    padding-left: 1%;
  }

  .no-margin-desc-start {
    margin-left: 0px !important;
  }

  .no-margin-desc-end {
   padding-right: 1% !important;
    border: none !important;
  }
  .risk-title {
    font-family: 'montserrat', sans-serif;
    font-weight: 300;
    font-size: 28px;
    color: #4F4F4F;
  }
  .risk-chart {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
  }

  #result-font-report {
    font-family: 'montserrat', sans-serif;
    font-weight: 300 !important;
    font-size: 42px;
    color: #4F4F4F;
  }

  .info-table {
    font-family: 'montserrat', sans-serif !important;
    font-weight: 200;
    color: #4F4F4F;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
  }
  .results {
    font-family: 'montserrat', sans-serif;
    font-size: 42px;
    margin-top: 20px;
  }

  @keyframes load{0%{stroke-dashoffset:0}}
  .progress {
      display: inline-block;
      padding: 0;
      text-align: center;
      &>li {
          display: inline-block;
          position: relative;
          text-align: center;
          color: #4F4F4F;
          font-family: 'montserrat', sans-serif;
          font-weight:200;
          &:before {
              content: attr(data-name);
              position: absolute;
              width: 100%;
              font-weight:400;
          }
          &:after {
              content: attr(data-percent);
              position: absolute;
              width: 100%;
              top: 3.7rem;
              left: 0;
              font-size: 2rem;
              text-align: center;
          }
      }
      svg {
          width: 100%;
          &:nth-child(2) {
              position: absolute;
              left: 0;
              top: 0;
              transform: rotate(-90deg);
          }
          &:nth-child(2) path {
              fill: none;
              stroke-width: 15;
              stroke-dasharray: 629;
              stroke: #FFFDFD;
              opacity: 0.8;
              animation: load 7s;
          }
      }
  }

  @media (min-width: 1200px) {
  .container {
    width: 1270px;
  }

  .row {
    margin-left: 0px;
  }
}

@media (max-width: 767.98px) {
  #full-report-header-description {
    margin-left: 10%;
    width: 300px;
    text-align: right;
  }

  .title-full-report {
    width: 100%;
  }

  #result-full-report {
    font-size: 40px;
    margin-top: 8% !important;
  }

  #result-font-report {
    font-size: 25px;
  }

  #scanned-by {
    font-size: 20px;
  }

  .data-container {
    flex-direction: column;
  }

  .general-info-container {
    height: 100%;
  }

  .circle-description-container {
    display: none;
  }

  .data-container {
    height: 100%;
  }

  .white-vector {
    bottom: -1px;
  }

  .button-glossary {
    margin-top: 0px;
  }

  .wrapper-clock {
    margin-top: 10%
  }

  section {
    width: 90%;
    height: 100vh;
  }

  td {
    font-size: 12px;
  }

  th {
    font-size: 14px;
  }

  .buttons-full-report-table {
    display: flow-root;
  }

  .general-info-container {
    margin-top: 5%;
  }
}