.articles-table-title {
    border-bottom: solid 1px #629280;
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
    color: #4F4F4F !important;
    font-weight: 400;
    text-decoration: none;
    text-align: left;
    padding: 10px;
    word-break: break-all;
    word-wrap: break-all;
    width: 200px;
  }
  .articles-table-desc {
    border-bottom: solid 1px #629280;
    font-family: 'Varela Round', sans-serif;
    font-size: 14px;
    color: #4F4F4F !important;
    font-weight: 400;
    text-decoration: none;
    text-align: left;
    padding: 10px;
    word-break: break-all;
    word-wrap: break-all;
    width: 200px;
  }